.recruitment {

    &__wrap {
        padding: 20px 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    &__item {
        max-width: 100%;
    }
}

@media (max-width: 1175px) {
    .recruitment {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .recruitment {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 500px) {
    .recruitment {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}