<header class="@@class">
	<div class="container-one">
		<div class="header__top">
			<div class="header__city">Ваш город: <span class="js-modal-show" data-popup="domain">Москва</span></div>

			<div class="header__group-phone">
				<a href="tel:84957891828" class="header__phone main-phone animate-link">8 495 789-18-28</a>
				<a href="#" class="header__recall main-recall animate-link --gray js-modal-show"
					data-popup="order-call"> Заказать звонок </a>
			</div>

			<div class="header__group-eamil">
				<a href="mailto:zakaz@ka-ludi.ru" class="header__email main-email animate-link"> zakaz@ka-ludi.ru </a>
				<a href="#" class="header__order-service main-order-service animate-link --gray js-modal-show"
					data-popup="order-service"> Заказ услуг </a>
			</div>

			<div class="header__group-social main-social">
				<a href="#" class="header__social main-social__image" target="_blank"><img
						src="./img/header-icon-youtube.png" alt="" /></a>
				<a href="#" class="header__social main-social__image" target="_blank"><img
						src="./img/header-icon-fb.png" alt="" /></a>
				<a href="#" class="header__social main-social__image" target="_blank"><img
						src="./img/header-icon-vk.png" alt="" /></a>
			</div>
		</div>

		<div class="header__bottom">
			<div class="header__burger"><span></span></div>

			<div class="header__group-logo main-logo">
				<div class="header__logo main-logo__image">
					<a href="#"><img src="./img/logo.png" alt="" /></a>
				</div>
				<div class="header__logo-text main-logo__text">
					Кадровое агенство,<br />
					подбор линейного персонала
				</div>
			</div>

			<div class="header__bottom-group-phone">
				<a href="tel:84957891828" class="header__phone main-phone animate-link">8 495 789-18-28</a>
				<a href="#" class="header__recall main-recall animate-link --gray js-modal-show"
					data-popup="order-call">Заказать звонок</a>
			</div>

			<nav class="header__menu">
				<ul class="header__menu-list">
					<li class="header__menu-item --drop menu-item">
						<a href="" class="header__menu-link animate-link">О компании</a>
						<ul class="header__menu-sub-list menu-list">
							<li class="header__menu-sub-item menu-item">
								<a href="#" class="header__menu-sub-link current">Подпункт меню 1 </a>
								<ul class="header__menu-sub-list menu-list --level-3">
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
								</ul>
							</li>
							<li class="header__menu-sub-item menu-item">
								<a href="#" class="header__menu-sub-link">Подпункт меню 1</a>
							</li>
							<li class="header__menu-sub-item menu-item">
								<a href="#" class="header__menu-sub-link">Подпункт меню 1</a>
							</li>
						</ul>
					</li>

					<li class="header__menu-item --drop menu-item">
						<a href="" class="header__menu-link animate-link">Подбор персонала</a>
						<ul class="header__menu-sub-list menu-list">
							<li class="header__menu-sub-item menu-item">
								<a href="#" class="header__menu-sub-link">Подпункт меню 1</a>
								<ul class="header__menu-sub-list menu-list --level-3">
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
								</ul>
							</li>
							<li class="header__menu-sub-item menu-item">
								<a href="#" class="header__menu-sub-link">Подпункт меню 1</a>
							</li>
							<li class="header__menu-sub-item menu-item">
								<a href="#" class="header__menu-sub-link">Подпункт меню 1</a>
								<ul class="header__menu-sub-list menu-list --level-3">
									<li class="header__menu-sub-item menu-item">
										<a class="header__menu-sub-link" href="#">Подпункт меню 1 </a>
									</li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="header__menu-item menu-item">
						<a href="" class="header__menu-link animate-link current">Наши ресурсы</a>
					</li>

					<li class="header__menu-item menu-item">
						<a href="" class="header__menu-link animate-link">Статьи</a>
					</li>

					<li class="header__menu-item menu-item">
						<a href="" class="header__menu-link animate-link">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- // HEADER -->